<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Listado de Reclamos</h1>
            <table class="table table-sm table-hover">
                <thead>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Locacion</th>
                    <th>*</th>


                </thead>
                <tbody>
                    <tr *ngFor="let item of reclamosLista">
                        <td>{{item.titulo}}</td>
                        <td>{{item.texto}}</td>
                        <td>{{item.locacion}}</td>
                        <td>
                            <a class="btn" (click)="editar(item)">
                                <i class="fa fa-pencil-square-o"></i>Editar
                            </a>
                            <a class="btn" (click)="eliminar(item)">
                                <i class="fa fa-trash-o"></i>Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h1>Formulario</h1>
            <form #reclamoForm="ngForm" (ngSubmit)="onSubmit(reclamoForm)">
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="reclamosService.selectedReclamo.$Key">
                <div class="form-group">
                    <label>Titulo</label>
                    <input class="form-control" name="titulo" #name="ngModel" [(ngModel)]="reclamosService.selectedReclamo.titulo" placeholder="Titulo" required>
                </div>
                <div class="form-group">
                    <label>Texto</label>
                    <input class="form-control" name="texto" #position="ngModel" [(ngModel)]="reclamosService.selectedReclamo.texto" placeholder="Texto" required>
                </div>

                <div class="form-group">
                    <label>Locacion</label>
                    <div class="input-group">
                        <input class="form-control" name="locacion" #salary="ngModel" [(ngModel)]="reclamosService.selectedReclamo.locacion" placeholder="Locacion">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit" [disabled]="!reclamoForm.valid">
                      <i class="fa fa-floppy-o"></i>
                        Grabar
                    </button>
                    <button class="btn btn-default" type="button" (click)="resetForm(reclamoForm)">
                        <i class="fa fa-repeat"></i>
                          Limpiar
                      </button>

                </div>
            </form>
        </div>
    </div>
</div>